<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>新規メモ作成</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h3>メモアプリ</h3>

    <form action="/memos" method="post">
      <input name="title" class="input-box" type="text" placeholder="タイトル">

      <textarea name="content" class="textarea-box" placeholder="内容"></textarea>

      <button class="button" type="submit">保存</button>
    </form>
  </div>
</body>
</html>
